*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
    text-decoration: none;
    background-color: rgb(172, 210, 243);
    }
    
    h1{
        margin-top: 0px;
        padding: 0 2%;
        font-size: 50px;
        text-align: center;
        text-shadow: 1px 5px 9px; color: rgb(101, 240, 240, 0.507);
        background-color: rgb(31, 19, 85);
        color: rgb(249, 251, 255);
    }
    
    p{
        
        display: block;
        margin-top: 20px;
        margin-left: 60px;
        font-size: 30px;
    }
    .img1{
        display: block;
        margin: 50px auto;
        width: 60%;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        border-width: 4px;
        border-style: inset;
        border-color: rgb(0, 0, 0);
    }
    h2 {
        margin-top: 20px;
        padding: 0px;
        font-size: 30px;
        text-indent: 5%;
        text-decoration: none;
        color: rgb(37, 36, 36);
    }
    footer{
        background-color: rgb(28, 43, 243, 0.65);
        padding: 10px;
        padding-bottom: 3px;
        color: white;
        text-align: center;
        font-weight: 10px;
        font-size: 0.rem;
    }
    